name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ashishgupta251
          outputs: |
            snake.svg
            snake-dark.svg?palette=github-dark

      - name: Create output branch and push files (root)
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git checkout -B output
          mv snake.svg github-contribution-grid-snake.svg
          mv snake-dark.svg github-contribution-grid-snake-dark.svg
          git add github-contribution-grid-snake*.svg
          git commit -m "update snake animation" || echo "no changes"
          git push -f origin output
